<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @pickup.status %>
</p>

<p>
  <strong>Day:</strong>
  <%= @pickup.day %>
</p>

<p>
  <strong>Pickup date:</strong>
  <%= @pickup.pickup_date %>
</p>

<p>
  <strong>Client:</strong>
  <%= @pickup.client %>
</p>

<%= link_to 'Edit', edit_pickup_path(@pickup) %> |
<%= link_to 'Back', pickups_path %>
