<%= form_with(model: dropoff, local: true) do |form| %>
  <% if dropoff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dropoff.errors.count, "error") %> prohibited this dropoff from being saved:</h2>

      <ul>
      <% dropoff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :dropoff_status %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.text_field :day, id: :dropoff_day %>
  </div>

  <div class="field">
    <%= form.label :dropoff_date %>
    <%= form.date_select :dropoff_date, id: :dropoff_dropoff_date %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id, id: :dropoff_client_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
