<p id="notice"><%= notice %></p>

<h1>Dropoffs</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Day</th>
      <th>Dropoff date</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dropoffs.each do |dropoff| %>
      <tr>
        <td><%= dropoff.status %></td>
        <td><%= dropoff.day %></td>
        <td><%= dropoff.dropoff_date %></td>
        <td><%= dropoff.client %></td>
        <td><%= link_to 'Show', dropoff %></td>
        <td><%= link_to 'Edit', edit_dropoff_path(dropoff) %></td>
        <td><%= link_to 'Destroy', dropoff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dropoff', new_dropoff_path %>
