<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @dropoff.status %>
</p>

<p>
  <strong>Day:</strong>
  <%= @dropoff.day %>
</p>

<p>
  <strong>Dropoff date:</strong>
  <%= @dropoff.dropoff_date %>
</p>

<p>
  <strong>Client:</strong>
  <%= @dropoff.client %>
</p>

<%= link_to 'Edit', edit_dropoff_path(@dropoff) %> |
<%= link_to 'Back', dropoffs_path %>
